$dark-color: #000000;
$light-color: #ffffff;
$gray-color: #bbbbbb;

$background-color: $light-color;

$primary-color-50: #fbeeef;
$primary-color-100: #f6d4d8;
$primary-color-200: #f0b7be;
$primary-color-300: #ea9aa3;
$primary-color-400: #e68590;
$primary-color-500: #e16f7c;
$primary-color-600: #dd6774;
$primary-color-700: #d95c69;
$primary-color-800: #d5525f;
$primary-color-900: #cd404c;
$primary-color-A100: #ffffff;
$primary-color-A200: #ffebec;
$primary-color-A400: #ffb8bd;
$primary-color-A700: #ff9ea6;
$primary-color: $primary-color-500;

$accent-color-50: #fdf3e5;
$accent-color-100: #f9e1bf;
$accent-color-200: #f6cd94;
$accent-color-300: #f2b869;
$accent-color-400: #efa949;
$accent-color-500: #ec9a29;
$accent-color-600: #ea9224;
$accent-color-700: #e7881f;
$accent-color-800: #e47e19;
$accent-color-900: #df6c0f;
$accent-color-A100: #ffffff;
$accent-color-A200: #ffe8d8;
$accent-color-A400: #ffcaa5;
$accent-color-A700: #ffbb8b;
$accent-color: $accent-color-500;