.line {
    text-decoration: line-through;
}

.padding {
    padding-left: 30px;
    padding-right: 30px; 
}

.material-symbols-fill {
    font-variation-settings: 'FILL' 1;
}

.w-100p {
    width: 100%;
}

.h-100p {
    height: 100%;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}