/* Couleurs. */
$main-color: #E16F7C;
$secondary-color: #EEAAB2;
$dark-color: #07090F;
$light-color: #FFFFFF;
$gray-color: #877B66;
$alert-color: #BA2637;

/* Polices. */
$main-font: 'Montserrat';