<div class="shopping-list-card">
    <div class="shopping-list-card-content">
        <div class="shopping-list-card-label">{{shoppingList?.name}}</div>
        <ul class="shopping-list-card-items" *ngIf="shoppingList && shoppingList.items && shoppingList.items.length > 0">
            <li class="shopping-list-card-item" *ngFor="let itemShoppingList of shoppingList.items | slice:0:maxDisplayedItemsCount; let i = index">
                <div [ngClass]="{ 'line': itemShoppingList.isChecked }">{{itemShoppingList.name}}</div>
            </li>
            <li *ngIf="shoppingList.items.length > maxDisplayedItemsCount">...</li>
        </ul>
    </div>
    <div class="shopping-list-card-actions">
        <ng-content></ng-content>
    </div>
</div>
