.form {
    &-headers {
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;
    }

    &-header {
        font-size: 36px;
        font-weight: 700;

        &-sub {
            font-weight: 400;
            font-size: 14px;
        }

        &-buttons {
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            flex-direction: row;
        }
    }

    &-inputs {
        margin-bottom: 20px;
    }

    &-input {
        width: 100%;
    }

    &-buttons {
        text-align: center;
    }

    &-button {
        width: 100%;
    }

    &-sub-action {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;

        &-text {
            margin-bottom: 10px;
        }
    }
}