.form {
    &-headers {
        padding-top: 20px;
        padding-bottom: 40px;
        position: relative;
    }

    &-header {
        font-size: 36px !important;
        font-weight: 700 !important;

        &-buttons {
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            flex-direction: row;
        }
    }

    &-inputs {
        padding-bottom: 20px;
    }

    &-input {
        width: 100%;
    }

    &-button {
        width: 100%;
    }

    &-sub-action {
        padding-top: 40px;

        &-text {
            text-align: center;
        }
    }
}