.page {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
}

@media screen and (max-width:768px) {
    .page {
        width: 80%;
    }
}

@media screen and (max-width:480px) {
    .page {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}