<app-profile-top-bar></app-profile-top-bar>
<div class="page">
  <div class="events">
    <app-inline-calendar [defaultSelectedDate$]="defaultDate$" (onSelectedDateChanged)="selectedDateChanged($event)">
    </app-inline-calendar>
    <div class="events__container">
      @defer (when events()) {
        @for (event of events(); track event) {
          <app-event-card
            [event]="event"
            class="event"
            (onEventDeleted)="eventDeleted($event)">
          </app-event-card>
        }
        @if (!events()?.length) {
          <app-event-large-empty></app-event-large-empty>
        }
      } @placeholder (minimum 1000ms) {
        <app-event-card-placeholder 
          class="event">
        </app-event-card-placeholder>
      }
    </div>
  </div>
  <app-tab-bar [selectedIndex]=3 (onActionClicked)="goToCreate()"></app-tab-bar>
</div>