<div class="page">
    <app-profile-top-bar></app-profile-top-bar>
    <div class="events">
        <app-inline-calendar [defaultSelectedDate$]="defaultDate$" (onSelectedDateChanged)="onSelectedDateChanged($event)">
        </app-inline-calendar>
        <div *ngIf="this.events$ | async as events">
            <div *ngIf="!this.isLoading" class="events__container">
                <app-event-card *ngFor="let event of events"
                class="event"
                [event]="event">
                    <app-event-edit-button
                    [eventId]="event.id">
                    </app-event-edit-button>
                    <app-event-delete-button 
                    [eventToDelete]="event"
                    (onEventDeleted)="onEventDeleted($event)">
                    </app-event-delete-button>
                </app-event-card>
                <app-event-large-empty *ngIf="!events.length"></app-event-large-empty>
            </div>
        </div>
        <div *ngIf="this.isLoading">
            <app-simple-loading></app-simple-loading>
        </div>
    </div>
    <app-tab-bar [selectedIndex]=3 (onActionClicked)="goToCreate()"></app-tab-bar>
</div>