.display-shopping-lists {
    padding-top: 20px;

    &-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &-empty {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-illustration {
            width: 200px;
        }

        &-title {
            margin: 0 !important;
            padding: 0 !important;
            padding-top: 20px !important;
            padding-bottom: 10px !important;
            font-size: 28px !important;
            font-weight: 700 !important;
        }

        &-message {
            width: 200px;
            margin: 0 !important;
            padding: 0 !important;
            font-size: 16px !important;
            text-align: center;
        }
    }
}