.shopping-list-top-bar {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 480px !important;
    background-color: $primary-color-100 !important;

    @media screen and (max-width:480px) {
        width: 100% !important;
    }
}