.shopping-list-top-bar {
    position: relative;
    width: 480px;
    height: 48px;
    background-color: $primary-color;

    @media screen and (max-width:480px) {
        width: 100%;
    }

    &-back {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    &-actions {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}