$card-border-radius: 5px;

.shopping-list-card {
    width: 190px;
    border-radius: $card-border-radius;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative;

    &-content {
        width: 150px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    &-label {
        color: $dark-color;
        font-size: 16px;
        font-weight: 700;
        max-width: 120px;
        vertical-align: bottom;
        padding: 0px !important;
        margin: 0px !important;
    }

    &-actions {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgba($color: $light-color, $alpha: 0.5);
        border-bottom-left-radius: $card-border-radius;
        border-bottom-right-radius: $card-border-radius;
        backdrop-filter: blur(20px);
    }
}