.go-back-top-bar {
    position: relative;

    &__back {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    &__actions {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}