<div class="page">
    <app-shopping-list-top-bar [delete]="boundedDelete" [goToEdit]="boundedGoToEdit"></app-shopping-list-top-bar>
    <div>
        <div class="shopping-list" *ngIf="shoppingList">
            <h1 class="shopping-list-name">{{ shoppingList.name }}</h1>
            <ul class="shopping-list-items" *ngIf="shoppingList.items">
                <li class="item-shopping-list" *ngFor="let itemShoppingList of shoppingList.items">
                    <span class="item-shopping-list-name" [ngClass]="{ 'line': itemShoppingList.isChecked }">{{ itemShoppingList.name }}</span>
                    <div class="item-shopping-list-btns">
                        <button mat-icon-button (click)="checkItem(itemShoppingList)" color="primary">
                            <mat-icon>done</mat-icon>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>