<div class="page">
    <app-shopping-list-top-bar [shoppingList]="shoppingList$ | async"></app-shopping-list-top-bar>
    <div class="shopping-list margin" *ngIf="shoppingList$ | async as shoppingList;else loadingShoppingList">
        <h1 class="shopping-list-name">{{ shoppingList.name }}</h1>
        <ul class="shopping-list-items" *ngIf="shoppingList.items">
            <li class="item-shopping-list" *ngFor="let itemShoppingList of shoppingList.items">
                <mat-checkbox class="example-margin"
                  [(ngModel)]="itemShoppingList.isChecked"
                  color="primary">
                  <span class="item-shopping-list-name" [ngClass]="{ 'line': itemShoppingList.isChecked }">{{ itemShoppingList.name }}</span>
                </mat-checkbox>
            </li>
        </ul>
    </div>
    <ng-template #loadingShoppingList>
        <app-simple-loading></app-simple-loading>
    </ng-template>
</div>