<div class="page">
    <app-profile-top-bar></app-profile-top-bar>
    <div class="events">
        <app-inline-calendar></app-inline-calendar>
        <div *ngIf="this.events$ | async as events; else loading" class="events__container">
            <div *ngIf="events.length">
                <div *ngFor="let event of events">
                    <div>{{event.name}}</div>
                    <div>{{event.startingDateTime}}</div>
                    <div>{{event.endingDateTime}}</div>
                    <div>{{event.allDay}}</div>
                </div>
            </div>
            <app-event-large-empty *ngIf="!events.length"></app-event-large-empty>
        </div>
        <ng-template #loading>
            <app-simple-loading></app-simple-loading>
        </ng-template>
    </div>
    <app-tab-bar [selectedIndex]=3 (onActionClicked)="goToCreate()"></app-tab-bar>
</div>
