<div class="page">
    <app-profile-top-bar></app-profile-top-bar>
    <div class="events">
        <app-inline-calendar (onSelectedDateChanged)="onSelectedDateChanged($event)">
        </app-inline-calendar>
        <div *ngIf="this.events$ | async as events; else loading" class="events__container">
            <app-event-card *ngFor="let event of events"
            class="event"
            [event]="event">
            </app-event-card>
            <app-event-large-empty *ngIf="!events.length"></app-event-large-empty>
        </div>
        <ng-template #loading>
            <app-simple-loading></app-simple-loading>
        </ng-template>
    </div>
    <app-tab-bar [selectedIndex]=3 (onActionClicked)="goToCreate()"></app-tab-bar>
</div>
