<div class="page">
    <app-go-back-top-bar></app-go-back-top-bar>
    <div class="margin">
        <div class="form m-t-30">
            <form *ngIf="editEventForm$ | async as editEventForm; else loadingForm" [formGroup]="editEventForm">
                <!--Nom.-->
                <mat-form-field class="form-input">
                    <mat-label>Nom</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error *ngIf="editEventForm.controls['name'].hasError('maxlength')">
                        Nom trop long (max. {{ this.eventNameMaxLength }} caractères)
                    </mat-error>
                    <mat-error *ngIf="editEventForm.controls['name'].hasError('required')">
                        Nom requis
                    </mat-error>
                </mat-form-field>
                <!--Date de début.-->
                <mat-form-field class="form-input">
                    <mat-label>Date et heure de début</mat-label>
                    <mtx-datetimepicker #datetimePickerStart
                                        [type]="type"
                                        [mode]="mode"
                                        [multiYearSelector]="multiYearSelector"
                                        [startView]="startView"
                                        [twelvehour]="twelvehour"
                                        [timeInterval]="timeInterval"
                                        [touchUi]="touchUi"
                                        [timeInput]="timeInput"></mtx-datetimepicker>
                    <input [mtxDatetimepicker]="datetimePickerStart" formControlName="startingDateTime" matInput>
                    <mtx-datetimepicker-toggle [for]="datetimePickerStart" matSuffix></mtx-datetimepicker-toggle>
                    <mat-error *ngIf="editEventForm.controls['startingDateTime'].hasError('required')">
                        Date et heure de début requises
                    </mat-error>
                  </mat-form-field>
                <!--Date de fin.-->
                <mat-form-field class="form-input">
                    <mat-label>Date et heure de fin</mat-label>
                    <mtx-datetimepicker #datetimePickerEnd
                                        [type]="type"
                                        [mode]="mode"
                                        [multiYearSelector]="multiYearSelector"
                                        [startView]="startView"
                                        [twelvehour]="twelvehour"
                                        [timeInterval]="timeInterval"
                                        [touchUi]="touchUi"
                                        [timeInput]="timeInput"></mtx-datetimepicker>
                    <input [mtxDatetimepicker]="datetimePickerEnd" formControlName="endingDateTime" matInput>
                    <mtx-datetimepicker-toggle [for]="datetimePickerEnd" matSuffix></mtx-datetimepicker-toggle>
                    <mat-error *ngIf="editEventForm.controls['endingDateTime'].hasError('required')">
                        Date et heure de fin requises
                    </mat-error>
                </mat-form-field>
                <!--Toute la journée.-->
                <mat-slide-toggle color="primary" formControlName="allDay">
                    Toute la journée ?
                </mat-slide-toggle>
            </form>
            <ng-template #loadingForm>
                <app-simple-loading></app-simple-loading>
            </ng-template>
        </div>
    </div>
</div>