<article class="loading">
    <header>
        <h1 class="logo__container">
            <span class="logo__capital-letter">T</span><span class="logo__rest-of-word">ribe</span>
            <span class="logo__capital-letter">C</span><span class="logo__rest-of-word">orner</span>              
        </h1>
    </header>
    <section class="content">
        <h2>Un instant, nous peaufinons les derniers détails pour vous !</h2>
        <mat-spinner color="accent"></mat-spinner>
    </section>
</article>