<form *ngIf="shoppingList" (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
    <div>
        <button type="submit">Enregistrer</button>
    </div>
    <h1>{{ shoppingList.name }}</h1>
    <div>
        <div>
            <input type="text" placeholder="Ajouter un nouvel article" name="new-item-shopping-list-name" [(ngModel)]="newItemShopListName" #newItemShoppingListName="ngModel" (keyup.enter)="addItem()">
            <button (click)="addItem()" [disabled]="!newItemShopListName.length">+</button>
        </div>
    </div>
    <ul *ngIf="shoppingList.items">
        <li *ngFor="let itemShoppingList of shoppingList.items">
            <div>
                <input type="checkbox" name="item-shopping-list-checkbox-{{itemShoppingList.id}}" [(ngModel)]="itemShoppingList.isChecked">
                <span>{{ itemShoppingList.name }}</span>
                <span>
                    <button (click)="deleteItem(itemShoppingList)">Supprimer</button>
                </span>
            </div>
        </li>
    </ul>
</form>