.display-home {
    padding-top: 25px;
    width: 100%;
    display: block;

    &-meals-by-meal-kinds-container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    &-meals-by-meal-kind-container {
        width: 33.3%;
        grid-template-rows: auto auto;
    }

    &-meal-kind-name {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        display: block;
        grid-row: 1;
        padding-bottom: 5px;
    }

    &-meals-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        grid-row: 2;
    }

    &-meal {
        margin-bottom: 5px;
        margin-right: 5px;
    }

    &-shopping-lists-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}