<mat-card class="event-card">
    <mat-card-header>
        <mat-card-title>{{event?.name}}</mat-card-title>
        @if (event?.allDay) {
        <mat-card-subtitle>Toute la journée</mat-card-subtitle>
        }
    </mat-card-header>
    <mat-card-content>
        <p>{{this.durationLabel}}</p>
    </mat-card-content>
    @if (showActions) {
    <mat-card-actions align="end">
        @if (event) {
        <app-event-edit-button
            [eventId]="event.id">
        </app-event-edit-button>
        }
        <app-event-delete-button
            [eventToDelete]="event"
            (onEventDeleted)="eventDeleted($event)">
        </app-event-delete-button>
    </mat-card-actions>
    }
</mat-card>