<div>
    <h1>Content de vous revoir !</h1>
</div>
<form (ngSubmit)="signIn()">
    <div>
        <input type="email" placeholder="Email" required [(ngModel)]="email" name="email">
    </div>
    <div>
        <input type="password" placeholder="Mot de passe" required [(ngModel)]="password" name="password">
    </div>
    <div>
        <button type="submit">Se connecter</button>
    </div>
</form>
<div>
    <p>Pas encore de compte ?</p>
    <button (click)="goToSignUp()">Créer un compte</button>
</div>