@import '../../../../../../styles/helpers/colors';

:host {
    height: 120px;
}

.inline-calendar {
    display: block;
    width: 100%;

    &-selected-day {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 8px;
    }

    &-dates {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: top;
        margin-top: 10px;
        overflow-x: auto;
    }

    &-date {
        width: 50px;
        height: 60px;
        min-width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border: 2px solid $primary-color;
        border-radius: 5px;
        cursor: pointer;

        &-select {
            background-color: $primary-color;
        }

        &-day-of-the-week {
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 3px;
        }

        &-day-number {
            font-size: 14px;
            font-weight: 700;
            padding-bottom: 3px;
        }
    }
}