<mat-card class="shopping-list-card">
    <mat-card-header>
        <app-placeholder-item height="xl" width="l"></app-placeholder-item>
    </mat-card-header> 
    <mat-card-content>
        <ul>
            <li>
                <app-placeholder-item height="s" width="l"></app-placeholder-item>
            </li>
            <li>
                <app-placeholder-item height="s" width="m"></app-placeholder-item>
            </li>
            <li>
                <app-placeholder-item height="s" width="s"></app-placeholder-item>
            </li>
            <li>
                <app-placeholder-item height="s" width="m"></app-placeholder-item>
            </li>
        </ul>
    </mat-card-content>
    @if (this.showActions) {
    <mat-card-actions align="end">
        <app-placeholder-item [count]=4 appearance="circle"></app-placeholder-item>
    </mat-card-actions>
    }
</mat-card>
