<div class="page">
  <app-profile-top-bar></app-profile-top-bar>
  <mat-tab-group>
    <mat-tab label="En cours">
      <ng-template matTabContent>
          <div class="shopping-lists">
            <div class="shopping-lists__container">
              @defer (when unarchivedShoppingLists()) {
                @for (unarchivedShoppingList of unarchivedShoppingLists(); track unarchivedShoppingList) {
                  <app-shopping-list-card
                    [shoppingList]="unarchivedShoppingList"
                    (onShoppingListCopied)="shoppingListCopied($event)"
                    (onShoppingListArchiveToggled)="shoppingListArchiveToggled($event)"
                    (onShoppingListDeleted)="shoppingListDeleted($event)">
                  </app-shopping-list-card>
                }
                @if (!unarchivedShoppingLists()?.length) {
                  <app-large-empty
                    illustrationSource="/assets/img/undraw_gone_shopping_re_2lau.svg"
                    title="Oups !"
                    message="Vous n'avez pas de listes en cours."
                    >
                  </app-large-empty>
                }
              } @placeholder (minimum 1000ms) {
                <app-shopping-list-card-placeholder>
                </app-shopping-list-card-placeholder>
                <app-shopping-list-card-placeholder>
                </app-shopping-list-card-placeholder>
              }
            </div>
          </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Archives">
      <ng-template matTabContent>
          <div class="shopping-lists">
            <div class="shopping-lists__container">
              @defer (when archivedShoppingLists()) {
                @for (archivedShoppingList of archivedShoppingLists(); track archivedShoppingList) {
                  <app-shopping-list-card
                    [shoppingList]="archivedShoppingList"
                    (onShoppingListCopied)="shoppingListCopied($event)"
                    (onShoppingListArchiveToggled)="shoppingListArchiveToggled($event)"
                    (onShoppingListDeleted)="shoppingListDeleted($event)">
                  </app-shopping-list-card>
                }
                @if (!archivedShoppingLists()?.length) {
                  <app-large-empty
                    illustrationSource="/assets/img/undraw_gone_shopping_re_2lau.svg"
                    title="Oups !"
                    message="Vous n'avez pas de listes archivées."
                    >
                  </app-large-empty>
                }
              } @placeholder (minimum 1000ms) {
                <app-shopping-list-card-placeholder>
                </app-shopping-list-card-placeholder>
                <app-shopping-list-card-placeholder>
                </app-shopping-list-card-placeholder>
              }
            </div>
          </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <app-tab-bar [selectedIndex]=1 (onActionClicked)="goToCreate()"></app-tab-bar>
</div>