@import '../../../../../styles/helpers/variables';

.shopping-lists {
    padding-top: 20px;
    padding-bottom: $tab-bar-with-action_button-height;
    
    &__container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
    }
}

