<div class="page margin">
    <div class="form">
        <div class="form-headers">
            <div class="form-header-buttons">
                <app-sign-out-button></app-sign-out-button>
            </div>
            <h1 class="form-header">{{ currentUserInfo?.username }}, votre famille existe déjà ?</h1>
            <p class="form-header-sub">Rejoignez là dès maintenant.</p>
        </div>
        <form (ngSubmit)="joinFamily()" [formGroup]="joinFamilyForm">
            <div class="form-inputs">
                <mat-form-field class="form-input">
                    <mat-label>Code famille</mat-label>
                    <input matInput type="text" formControlName="familyAssociationCode">
                    <mat-error *ngIf="joinFamilyForm.controls['familyAssociationCode'].hasError('notFound')">
                        Code d'association non trouvé
                    </mat-error>
                    <mat-error *ngIf="joinFamilyForm.controls['familyAssociationCode'].hasError('required')">
                        Code d'association requis
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-buttons">
                <button class="button form-button" mat-raised-button color="primary" type="submit">Rejoindre ma famille</button>
            </div>
        </form>
        <div class="form-sub-action">
            <p class="form-sub-action-text">Votre famille n'existe pas encore ?</p>
            <div class="form-buttons">
                <button class="button form-button" mat-stroked-button color="primary" (click)="goToCreateFamily()">Créer ma famille</button>
            </div>
        </div>
    </div>
</div>