<mat-card class="card card-center">
  <mat-card-content>
    <article>
      <header class="form-headers">
        <h1 class="form-header">{{ currentUserInfo?.username }}, votre famille existe déjà ?</h1>
        <p>Rejoignez là dès maintenant.</p>
        <app-sign-out-button class="form-header-buttons"></app-sign-out-button>
      </header>
      <content>
        <form (ngSubmit)="joinFamily()" [formGroup]="joinFamilyForm">
          <section class="form-inputs">
            <mat-form-field class="form-input">
              <mat-label>Code famille</mat-label>
              <input matInput type="text" formControlName="familyAssociationCode">
              @if (joinFamilyForm.controls['familyAssociationCode'].hasError('notFound')) {
                <mat-error>
                  Code d'association non trouvé
                </mat-error>
              }
              @if (joinFamilyForm.controls['familyAssociationCode'].hasError('required')) {
                <mat-error>
                  Code d'association requis
                </mat-error>
              }
            </mat-form-field>
          </section>
          <section>
            <button [loading]="isJoiningFamily" class="form-button" mat-raised-button color="primary" type="submit">Rejoindre ma famille</button>
          </section>
        </form>
        <section class="form-sub-action">
          <p class="form-sub-action-text">Votre famille n'existe pas encore ?</p>
          <section>
            <button [loading]="isGoingToCreateFamily" class="form-button" mat-stroked-button color="primary" (click)="goToCreateFamily()">Créer ma famille</button>
          </section>
        </section>
      </content>
    </article>
  </mat-card-content>
</mat-card>