<div class="page"
  *transloco="let t;read:'displayHomePage';">
  <app-profile-top-bar></app-profile-top-bar>
  <div class="display-home">
    <app-home-category
      categoryName="{{t('myEvents')}}"
      (onSeeAllClicked)="goToDisplayEvents()">
      @if (this.events$ | async; as events) {
        <div
          class="events__container">
          @for (event of events; track event) {
            <app-event-card
              [event]="event">
            </app-event-card>
          }
          @if (!events.length) {
            <app-simple-empty></app-simple-empty>
          }
        </div>
      } @else {
        <app-simple-loading></app-simple-loading>
      }
    </app-home-category>
    <mat-divider></mat-divider>
    <app-home-category
      categoryName="{{t('myMealsOfTheDay')}}"
      (onSeeAllClicked)="goToDisplayMeals()">
      @if (this.mealsByMealKinds$ | async; as mealsByMealKinds) {
        <div
          class="meals-by-meal-kinds__container">
          @for (mealsByMealKind of mealsByMealKinds; track mealsByMealKind) {
            <div class="meals-by-meal-kind__container"
              >
              <div class="meal-kind__name">
                {{mealsByMealKind.mealKind.name}}
              </div>
              <div class="meals__container">
                @for (meal of mealsByMealKind.meals; track meal) {
                  <app-simple-meal-card class="meal"
                    [name]="meal.name">
                  </app-simple-meal-card>
                }
              </div>
            </div>
          }
          @if (!mealsByMealKinds.length) {
            <app-simple-empty></app-simple-empty>
          }
        </div>
      } @else {
        <app-simple-loading></app-simple-loading>
      }
    </app-home-category>
    <mat-divider></mat-divider>
    <app-home-category
      categoryName="{{t('myShoppingLists')}}"
      (onSeeAllClicked)="goToDisplayShoppingLists()">
        <div class="shopping-lists__container">
          @defer (when shoppingLists()) {
            @for (shoppingList of shoppingLists(); track shoppingList) {
              <app-shopping-list-card
                [shoppingList]="shoppingList"
                [showActions]="false"
                (click)="goToDisplayShoppingList(shoppingList.id)">
              </app-shopping-list-card>
            }
            @if (!shoppingLists()?.length) {
              <app-simple-empty></app-simple-empty>
            }
          } @placeholder (minimum 1000ms) {
            <app-shopping-list-loading-card
            [showActions]="false">
            </app-shopping-list-loading-card>
            <app-shopping-list-loading-card
            [showActions]="false">
            </app-shopping-list-loading-card>
          }
        </div>
    </app-home-category>
  </div>
  <app-tab-bar [selectedIndex]=0></app-tab-bar>
</div>