<app-profile-top-bar></app-profile-top-bar>
<div class="page"
  *transloco="let t;read:'displayHomePage';">
  <div class="display-home">
    <app-home-category
      categoryName="{{t('myEvents')}}"
      (onSeeAllClicked)="goToDisplayEvents()">
        <div class="events__container">
        @defer (when events()) {
          @for (event of events(); track event) {
            <app-event-card
              [event]="event"
              [showActions]="false">
            </app-event-card>
          }
          @if (!events()?.length) {
            <app-simple-empty></app-simple-empty>
          }
        } @placeholder (minimum 1000ms) {
          <app-event-card-placeholder
            [showActions]="false">
          </app-event-card-placeholder>
        }
        </div>
    </app-home-category>
    <mat-divider></mat-divider>
    <app-home-category
      categoryName="{{t('myMealsOfTheDay')}}"
      (onSeeAllClicked)="goToDisplayMeals()">
      <div class="meals-by-meal-kind__container">
        @defer(when mealsByMealKinds()) {
          @for (mealsByMealKind of mealsByMealKinds(); track mealsByMealKind) {
              <app-meals-by-meal-kind [mealsByMealKind]="mealsByMealKind" 
              [showActions]="false">
              </app-meals-by-meal-kind>
          }
          @if (!mealsByMealKinds()?.length) {
            <app-simple-empty></app-simple-empty>
          }
        }  @placeholder (minimum 1000ms) {
          <app-meals-by-meal-kind-placeholder [showActions]="false">
          </app-meals-by-meal-kind-placeholder>
        }
      </div>
    </app-home-category>
    <mat-divider></mat-divider>
    <app-home-category
      categoryName="{{t('myShoppingLists')}}"
      (onSeeAllClicked)="goToDisplayShoppingLists()">
        <div class="shopping-lists__container">
          @defer (when shoppingLists()) {
            @for (shoppingList of shoppingLists(); track shoppingList) {
              <app-shopping-list-card
                [shoppingList]="shoppingList"
                [showActions]="false"
                (click)="goToDisplayShoppingList(shoppingList.id)">
              </app-shopping-list-card>
            }
            @if (!shoppingLists()?.length) {
              <app-simple-empty></app-simple-empty>
            }
          } @placeholder (minimum 1000ms) {
            <app-shopping-list-card-placeholder
            [showActions]="false">
            </app-shopping-list-card-placeholder>
          }
        </div>
    </app-home-category>
  </div>
  <app-tab-bar [selectedIndex]=0></app-tab-bar>
</div>