<div class="top-bar profile-top-bar">
    <button mat-icon-button disabled>
        <mat-icon matBadge="4" matBadgeColor="accent" class="material-symbols-outlined">notifications</mat-icon>
    </button>
    <button mat-icon-button disabled>
        <mat-icon matBadge="9+" matBadgeColor="accent" class="material-symbols-outlined">mode_comment</mat-icon>
    </button>
    <button mat-icon-button (click)="goToDisplayFamily()">
        <mat-icon class="material-symbols-outlined">group</mat-icon>
    </button>
    <div class="profile-top-bar__profile" (click)="goToDisplayUser()">
        <div class="user__img">
            <span>{{ getUsernameFirstLetterUpperCase() }}</span>
        </div>
    </div>
</div>
<mat-divider></mat-divider>