@import '../../../../../styles/helpers/colors';
@import '../../../../../styles/helpers/variables';

.profile-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__profile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 12px;
        cursor: pointer;
    }
}

.user__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid $dark-color;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    & > span {
        color: $dark-color;
        font-size: 24px;
        font-weight: 700;
    }
}

.profile__text {
    padding-left: 10px;
}

.text {
    &__welcome {
        font-size: 12px;
        font-weight: 300;
        padding: 0px;
        margin: 0px;
    }

    &__username {
        font-size: 18px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
    }
}