<form
  class="add-form"
  [formGroup]="addItemShoppingListForm"
  (ngSubmit)="submitItemShoppingList()"
  *transloco="let t;read:'addItemShoppingListForm'">
  <mat-form-field class="add-form__field">
    <mat-label>{{t('newItem')}}</mat-label>
    <input
      matInput
      type="text"
      [formControlName]="this.itemShoppingListNameCode"
      [matAutocomplete]="auto">
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="this.suggestedItemShoppingListSelected($event.option.value)">
      @for (suggestedItemShoppingList of suggestedItemShoppingLists$|async; track this.trackBySuggestedItemShoppingListName($index, suggestedItemShoppingList)) {
        <mat-option [value]="suggestedItemShoppingList">
          {{suggestedItemShoppingList.name}} ({{suggestedItemShoppingList.category.name}})
        </mat-option>
      }
    </mat-autocomplete>
    <mat-error>{{this.getItemShoppingListNameErrorMessage()|async}}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" class="add-form__button" [disabled]="!this.isAddButtonEnabled()">
    {{t('add')}}
  </button>
</form>