@import '../../../../styles/helpers/_mixins.scss';

.shopping-list {
    padding-bottom: 100px;
}

.add-form {
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: white;
    padding-top: 10px;
    
    @include media-width;

    &__field {
        grid-column: 1;
    }

    &__button {
        margin-left: 10px;
        margin-bottom: 22px;
        grid-column: 2;
    }
}

.item-shopping-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;

    &__name {
        margin: 0px;
        padding: 0px;
        font-size: 16px;
    }

    &__buttons {
        display: flex;
        justify-content: right;
    }
}