<div class="page">
    <app-go-back-top-bar></app-go-back-top-bar>
    <div>
        <div class="margin shopping-list">
            <form class="form m-t-30" *ngIf="editShoppingListForm$ | async as editShoppingListForm; else loadingForm" [formGroup]="editShoppingListForm">
                <div class="form-inputs">
                    <mat-form-field class="form-input">
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" formControlName="shoppingListName">
                        <mat-error *ngIf="editShoppingListForm.controls['shoppingListName'].hasError('maxlength')">
                            Nom trop long (max. {{ this.shoppingListNameMaxLength }} caractères)
                        </mat-error>
                        <mat-error *ngIf="editShoppingListForm.controls['shoppingListName'].hasError('required')">
                            Nom requis
                        </mat-error>
                    </mat-form-field>
                    <ul *ngIf="this.notCheckedItemShoppingLists$ | async as notCheckedItemShoppingLists">
                        <li class="item-shopping-list" *ngFor="let notCheckedItemShoppingList of notCheckedItemShoppingLists">
                            <mat-checkbox
                            color="primary"
                            [checked]="notCheckedItemShoppingList.isChecked"
                            (change)="toggleItemShoppingList(notCheckedItemShoppingList)">
                                <span class="item-shopping-list__name" [ngClass]="{ 'line': notCheckedItemShoppingList.isChecked }">{{ notCheckedItemShoppingList.name }}</span>
                            </mat-checkbox>
                            <div class="item-shopping-list__buttons">
                                <button type="button" mat-icon-button (click)="deleteItemShoppingList(notCheckedItemShoppingList)" color="warn">
                                    <mat-icon class="material-symbols-outlined">close</mat-icon>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
            <div *ngIf="this.checkedItemShoppingLists$ | async as checkedItemShoppingLists">
                <mat-expansion-panel *ngIf="checkedItemShoppingLists.length">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{checkedItemShoppingLists.length}} article(s) coché(s)
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li class="item-shopping-list" *ngFor="let checkedItemShoppingList of checkedItemShoppingLists">
                            <mat-checkbox
                                color="primary"
                                [checked]="checkedItemShoppingList.isChecked"
                                (change)="toggleItemShoppingList(checkedItemShoppingList)">
                                    <span class="item-shopping-list__name" [ngClass]="{ 'line': checkedItemShoppingList.isChecked }">{{ checkedItemShoppingList.name }}</span>
                            </mat-checkbox>
                            <div class="item-shopping-list__buttons">
                                <button type="button" mat-icon-button (click)="deleteItemShoppingList(checkedItemShoppingList)" color="warn">
                                    <mat-icon class="material-symbols-outlined">close</mat-icon>
                                </button>
                            </div>
                        </li>
                    </ul>
                </mat-expansion-panel>
            </div>
        </div>
        <form class="add-form" [formGroup]="addNewItemShoppingListForm" (ngSubmit)="addItemShoppingList()">
            <mat-form-field class="add-form__field margin">
                <mat-label>Nouvel article</mat-label>
                <input matInput type="text" formControlName="newItemShoppingListName">
                <mat-error *ngIf="addNewItemShoppingListForm.controls['newItemShoppingListName'].hasError('maxlength')">
                    Nom trop long (max. {{ this.itemShoppingListNameMaxLength }} caractères)
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" class="add-form__button">
                Ajouter
            </button>
        </form>
        <ng-template #loadingForm>
            <app-simple-loading></app-simple-loading>
        </ng-template>
    </div>
</div>