<div class="page">
    <app-edit-top-bar
    [title]="(isCreating$ | async) ? 'Ajouter ma liste' : 'Modifier ma liste'"
    [isSaving]="(this.isSaving$ | async) ?? false"
    [isClosing]="(this.isClosing$ | async) ?? false"
    (onCloseClicked)="goToDisplayShoppingLists()" 
    (onSaveClicked)="editShoppingList()">
    </app-edit-top-bar>
    <div class="margin">
        <div class="form m-t-30">
            <form *ngIf="editShoppingListForm$ | async as editShoppingListForm; else loadingForm" [formGroup]="editShoppingListForm">
                <div class="form-inputs">
                    <mat-form-field class="form-input">
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" formControlName="shoppingListName">
                        <mat-error *ngIf="editShoppingListForm.controls['shoppingListName'].hasError('maxlength')">
                            Nom trop long (max. {{ this.shoppingListNameMaxLength }} caractères)
                        </mat-error>
                        <mat-error *ngIf="editShoppingListForm.controls['shoppingListName'].hasError('required')">
                            Nom requis
                        </mat-error>
                    </mat-form-field>
                    <ul class="shopping-list-items">
                        <li class="item-shopping-list" *ngFor="let itemShoppingList of itemShoppingLists">
                            <mat-checkbox
                            color="primary"
                            [(ngModel)]="itemShoppingList.isChecked"
                            [ngModelOptions]="{standalone: true}">
                            <span class="item-shopping-list-name" [ngClass]="{ 'line': itemShoppingList.isChecked }">{{ itemShoppingList.name }}</span>
                          </mat-checkbox>
                            <div class="item-shopping-list-btns">
                                <button type="button" mat-icon-button (click)="deleteItem(itemShoppingList)" color="warn">
                                    <mat-icon class="material-symbols-outlined">close</mat-icon>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <div class="shopping-list-add-zone">
                        <mat-form-field class="shopping-list-add-field">
                            <input matInput placeholder="+ Ajouter un élément" formControlName="newItemShoppingListName" (keyup.enter)="addItem()">
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <ng-template #loadingForm>
                <app-simple-loading></app-simple-loading>
            </ng-template>
        </div>
    </div>
</div>