<div class="tab-bar">
    <div class="tab-bar-container">
        <button [ngClass]="{ 'material-symbols-fill tab-bar-item-selected': selectedIndex === 0 }" class="tab-bar-item" mat-icon-button (click)="goToHome()">
            <mat-icon class="material-symbols-outlined">home</mat-icon>
        </button>
        <button [ngClass]="{ 'material-symbols-fill tab-bar-item-selected': selectedIndex === 1 }" class="tab-bar-item" mat-icon-button (click)="goToShoppingLists()">
            <mat-icon class="material-symbols-outlined">shopping_cart</mat-icon>
        </button>
        <button [ngClass]="{ 'material-symbols-fill tab-bar-item-selected': selectedIndex === 2 }" class="tab-bar-item" mat-icon-button (click)="goToMeals()">
            <mat-icon class="material-symbols-outlined">lunch_dining</mat-icon>
        </button>
        <button [ngClass]="{ 'material-symbols-fill tab-bar-item-selected': selectedIndex === 3 }" class="tab-bar-item" mat-icon-button>
            <mat-icon class="material-symbols-outlined">event</mat-icon>
        </button>
    </div>
    <button *ngIf="onActionClicked.observers.length > 0" mat-fab color="primary" class="tab-bar-action-button" (click)="actionClicked()">
        <mat-icon class="material-symbols-outlined">{{ actionButtonIcon }}</mat-icon>
    </button>
</div>