<div class="page">
    <app-profile-top-bar></app-profile-top-bar>
    <div class="meals">
        <app-inline-calendar 
        [defaultSelectedDate$]="defaultDate$" 
        (onSelectedDateChanged)="onSelectedDateChanged($event)">
        </app-inline-calendar>
        <div 
        *ngIf="this.mealsByMealKinds$ | async as mealsByMealKinds; else loading" 
        class="meals__container">
            <div class="meal-kind" *ngFor="let mealsByMealKind of mealsByMealKinds">
                <div class="meal-kind__name">
                    {{ mealsByMealKind.mealKind.name }}
                </div>
                <div class="meal" *ngFor="let meal of this.mealsByMealKind.meals">
                    <img class="meal__img" src="/assets/img/undraw_breakfast_psiw.svg">
                    <div class="meal__name">{{ meal.name }}</div>
                    <div class="meal__persons">{{ meal.numberOfPersons }} personnes</div>
                    <div class="meal__actions">
                        <button mat-icon-button (click)="goToUpdate(meal.id)">
                            <mat-icon class="material-symbols-outlined">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="delete(meal)">
                            <mat-icon class="material-symbols-outlined">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <app-large-empty 
            *ngIf="!this.mealsByMealKinds.length"
            illustrationSource="/assets/img/undraw-eating-together-re-ux62.svg"
            title="Oups !"
            message="Vous n'avez pas encore plannifié de repas.">
            </app-large-empty>
        </div>
        <ng-template #loading>
            <app-simple-loading></app-simple-loading>
        </ng-template>
    </div>
    <app-tab-bar [selectedIndex]=2 (onActionClicked)="goToCreate()"></app-tab-bar>
</div>