<div class="page">
    <app-profile-top-bar></app-profile-top-bar>
    <div class="meals">
        <app-inline-calendar 
        [defaultSelectedDate$]="defaultDate$" 
        (onSelectedDateChanged)="onSelectedDateChanged($event)">
        </app-inline-calendar>
        <div 
        *ngIf="this.mealsByMealKinds$ | async as mealsByMealKinds; else loading" 
        class="meals__container">
            <div class="meal-kind" *ngFor="let mealsByMealKind of mealsByMealKinds">
                <div class="meal-kind__name">
                    {{ mealsByMealKind.mealKind.name }}
                </div>
                <app-large-meal-card *ngFor="let meal of this.mealsByMealKind.meals" [meal]="meal">
                    <app-meal-edit-button 
                    [mealId]="meal.id">
                    </app-meal-edit-button>
                    <app-meal-copy-button 
                    [mealToCopy]="meal"
                    (onMealCopied)="onMealCopied(meal)">
                    </app-meal-copy-button>
                    <app-meal-delete-button 
                    [mealToDelete]="meal"
                    (onMealDeleted)="onMealDeleted(meal)">
                    </app-meal-delete-button>
                </app-large-meal-card>
            </div>
            <app-large-empty 
            *ngIf="!this.mealsByMealKinds.length"
            illustrationSource="/assets/img/undraw-eating-together-re-ux62.svg"
            title="Oups !"
            message="Vous n'avez pas encore plannifié de repas.">
            </app-large-empty>
        </div>
        <ng-template #loading>
            <app-simple-loading></app-simple-loading>
        </ng-template>
    </div>
    <app-tab-bar [selectedIndex]=2 (onActionClicked)="goToCreate()"></app-tab-bar>
</div>