@import '../../../../../styles/helpers/colors';

:host {
    width: 100%;
    margin: 5px;
}

.shopping-list-card {
    background-color: $primary-color-100;

    &__name {
        font-size: 18px;
        font-weight: 500;
    }

    &__checked {
        margin-top: 5px;
        font-style: italic;
    }
}