<div class="shopping-list-card">
  <div class="shopping-list-card__container">
    <div class="shopping-list-card__label">{{shoppingList?.name}}</div>
    @if (this.notCheckedItemShoppingLists$ |async; as notCheckedItemShoppingLists) {
      <div>
        @if (notCheckedItemShoppingLists.length) {
          <ul class="shopping-list-card__items">
            @for (notCheckedItemShoppingList of this.notCheckedItemShoppingLists | slice:0:maxDisplayedItemsCount; track notCheckedItemShoppingList; let i = $index) {
              <li class="shopping-list-card__item">
                <div>{{notCheckedItemShoppingList.name}}</div>
              </li>
            }
            @if (notCheckedItemShoppingLists.length > maxDisplayedItemsCount) {
              <li>...</li>
            }
          </ul>
        }
      </div>
    }
    @if (this.checkedItemShoppingLists$ | async; as checkedItemShoppingLists) {
      <div class="shopping-list-card__checked">
        @if (this.checkedItemShoppingLists.length) {
          <span>+ {{this.checkedItemShoppingLists.length}} article(s) coché(s)</span>
        }
      </div>
    }
  </div>
  <div class="shopping-list-card__actions">
    <ng-content></ng-content>
  </div>
</div>
