<div class="page">
    <app-profile-top-bar></app-profile-top-bar>
    <div class="display-home">
        <app-home-category 
        categoryName="Mes événements" 
        (onSeeAllClicked)="goToDisplayEvents()"
        [isEmpty]="this.events.length == 0"
        [isLoading]="this.isLoadingEvents">
        </app-home-category>
        <mat-divider></mat-divider>
        <app-home-category 
        categoryName="Mes repas du jour" 
        (onSeeAllClicked)="goToDisplayMeals()"
        [isEmpty]="this.mealsByMealKinds.length == 0"
        [isLoading]="this.isLoadingMealsByMealKinds">
            <div class="display-home-meals-by-meal-kinds-container">
                <div class="display-home-meals-by-meal-kind-container"
                *ngFor="let mealsByMealKind of this.mealsByMealKinds">
                    <div class="display-home-meal-kind-name">
                        {{mealsByMealKind.mealKind.name}}
                    </div>
                    <div class="display-home-meals-container">
                        <app-meal-card class="display-home-meal"
                        *ngFor="let meal of mealsByMealKind.meals"
                        [name]="meal.name">
                        </app-meal-card>
                    </div>
                </div>
            </div>
        </app-home-category>
        <mat-divider></mat-divider>
        <app-home-category 
        categoryName="Mes listes favorites" 
        (onSeeAllClicked)="goToDisplayShoppingLists()"
        [isEmpty]="this.shoppingLists.length == 0"
        [isLoading]="this.isLoadingShoppingLists">
            <div class="display-home-shopping-lists-container">
                <app-shopping-list-card *ngFor="let shoppingList of this.shoppingLists"
                [shoppingList]="shoppingList"
                (click)="goToDisplayShoppingList(shoppingList.id)"></app-shopping-list-card>
            </div>
        </app-home-category>
    </div>
    <app-tab-bar [selectedIndex]=0></app-tab-bar>
</div>