$card-border-radius: 20px;

.card {
    width: 160px;
    height: 200px;
    border-radius: $card-border-radius;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding-top: 10px;
    position: relative;

    &-img {
        height: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }

    &-content {
        width: 120px;
        height: 100px;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
    }

    &-label {
        color: $dark-color;
        font-size: 16px;
        font-weight: 700;
        max-width: 120px;
        vertical-align: bottom;
        padding: 0px !important;
        margin: 0px !important;
        position: absolute;
        bottom: 40px;
        z-index: 1;
    }

    &-subtext-1 {
        color: $dark-color;
        font-size: 12px;
        font-weight: 500;
        max-width: 120px;
        padding: 0px !important;
        margin: 0px !important;
        position: absolute;
        bottom: 20px;
        z-index: 1;
    }

    &-subtext-2 {
        color: $dark-color;
        font-size: 12px;
        font-weight: 400;
        max-width: 120px;
        padding: 0px !important;
        margin: 0px !important;
        position: absolute;
        bottom: 5px;
        z-index: 1;
    }

    &-actions {
        position: absolute;
        bottom: 0px;
        z-index: 2;
        width: 100%;
        height: 45px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgba($color: $light-color, $alpha: 0.5);
        border-bottom-left-radius: $card-border-radius;
        border-bottom-right-radius: $card-border-radius;
        backdrop-filter: blur(20px);
        overflow: hidden;
        transition: height 0.5s;
    }

    // &:hover .card-actions {
    //     height: 45px;
    // }
}