$tab-bar-height: 48px;

.tab-bar {
    position: fixed;
    bottom: 0px;
    width: 480px;
    height: $tab-bar-height;
    background-color: rgba($primary-color, 1);

    @media screen and (max-width:480px) {
        width: 100%;
    }

    &-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    &-item {
        color: $dark-color !important;

        &-selected {
            color: $dark-color !important;
        }
    }

    &-action-button {
        z-index: 2;
        position: fixed !important;
        right: calc(50% - 30px);
        bottom: 20px;
        color: $dark-color !important;
    }
}