.tab-bar {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 480px !important;
    background-color: rgba($primary-color-100, 0.3) !important;

    @media screen and (max-width:480px) {
        width: 100% !important;
    }

    &-item {
        &-selected {
            color: $primary-color !important;
            border-radius: 10px !important;
            background-color: $primary-color-100 !important;
        }
    }
}