<div class="page padding">
    <div class="form">
        <div class="form-headers">
            <h1 class="form-header">Bienvenue !</h1>
            <p class="form-header-sub">Rejoignez les membres de votre famille.</p>
        </div>
        <form (ngSubmit)="signUp()" [formGroup]="signUpForm">
            <div class="form-inputs">
                <mat-form-field class="form-input">
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input matInput type="text" formControlName="username">
                    <mat-error *ngIf="signUpForm.controls['username'].hasError('maxlength')">
                        Nom d'utilisateur trop long (max. {{ usernameMaxLength }} caractères)
                    </mat-error>
                    <mat-error *ngIf="signUpForm.controls['username'].hasError('required')">
                        Nom d'utilisateur requis
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-input">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-error *ngIf="signUpForm.controls['email'].hasError('email')">
                        Email invalide (exemple&#64;format.fr)
                    </mat-error>
                    <mat-error *ngIf="signUpForm.controls['email'].hasError('maxlength')">
                        Email trop long (max. {{ emailMaxLength }} caractères)
                    </mat-error>
                    <mat-error *ngIf="signUpForm.controls['email'].hasError('already-in-use')">
                        Email déjà utilisé
                    </mat-error>
                    <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
                        Email requis
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-input">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput [type]="this.hidePassword ? 'password' : 'text'" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="this.hidePassword = !this.hidePassword">
                        <mat-icon>{{this.hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signUpForm.controls['password'].hasError('pattern')">
                        Mot de passe invalide (min. 8 caractères, 1 majuscule, 1 minuscule, 1 chiffre, 1 caractère parmi &#64;$!%*?&)
                    </mat-error>
                    <mat-error *ngIf="signUpForm.controls['password'].hasError('maxlength')">
                        Mot de passe trop long (max. {{ passwordMaxLength }} caractères)
                    </mat-error>
                    <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">
                        Mot de passe requis
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-buttons">
                <button [loading]="isSigningUp" class="button form-button" mat-raised-button color="primary" type="submit">Créer un compte</button>
            </div>
        </form>
        <div class="form-sub-action">
            <p class="form-sub-action-text">Déjà membre ?</p>
            <div class="form-buttons">
                <button [loading]="isGoingToSignIn" class="button form-button" mat-stroked-button color="primary" (click)="goToSignIn()">Se connecter</button>
            </div>
        </div>
    </div>
</div>