.go-back-top-bar {
    position: relative;

    &-back {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    &-actions {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}