<app-go-back-top-bar *transloco="let t;read:'displayUserPage';" label="{{t('top-bar-label')}}"></app-go-back-top-bar>
<section class="page" *transloco="let t;read:'displayUserPage';">
    <app-spacer></app-spacer>
    @if(userInfo$ | async; as userInfo) {
    <section class="profil">
        <img class="profil__img" src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg">
        <p class="profil__label">{{t('welcomeUser', {login: userInfo.username})}}</p>
    </section>
    <app-spacer></app-spacer>
    <!--Zone "Profil".-->
    <article class="setting">
        <header>
            <h2 class="setting__title">{{t('profile')}}</h2>
        </header>
        <section>
            <mat-list class="list">
                <mat-divider></mat-divider>
                <mat-list-item class="list__item list__item--link">
                    <div class="item__container">
                        <div class="icon-label">
                            <mat-icon fontIcon="person" class="material-symbols-outlined"></mat-icon>
                            <span class="icon-label__label">{{t('editProfile')}}</span>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="list__item list__item--link" (click)="signOut()">
                    <div class="item__container">
                        <div class="icon-label">
                            <mat-icon fontIcon="logout" class="material-symbols-outlined"></mat-icon>
                            <span class="icon-label__label">{{t('signOut')}}</span>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="list__item list__item--link">
                    <div class="item__container">
                        <div class="icon-label">
                            <mat-icon fontIcon="delete" class="material-symbols-outlined"></mat-icon>
                            <span class="icon-label__label">{{t('deleteProfile')}}</span>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </section>
    </article>
    <app-spacer></app-spacer>
    <!--Zone "Notifications".-->
    <article class="setting">
        <header>
            <h2 class="setting__title">{{t('notifications')}}</h2>
        </header>
        <section>
            <mat-list class="list">
                <mat-divider></mat-divider>
                <mat-list-item class="list__item">
                    <div class="item__container">
                        <div class="icon-label">
                            <mat-icon fontIcon="notifications" class="material-symbols-outlined"></mat-icon>
                            <span class="icon-label__label">{{t('activate')}}</span>
                        </div>
                        <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="list__item list__item--link">
                    <div class="item__container">
                        <div class="icon-label">
                            <mat-icon fontIcon="settings" class="material-symbols-outlined"></mat-icon>
                            <span class="icon-label__label">{{t('configure')}}</span>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
        </section>
    </article>
    <app-spacer></app-spacer>
    <!--Zone "Divers".-->
    <article class="setting">
        <header>
            <h2 class="setting__title">{{t('miscellaneous')}}</h2>
        </header>
        <section>
            <mat-list class="list">
                <mat-divider></mat-divider>
                <mat-list-item class="list__item list__item--link">
                    <div class="item__container">
                        <div class="icon-label">
                            <mat-icon fontIcon="chat_bubble" class="material-symbols-outlined"></mat-icon>
                            <span class="icon-label__label">{{t('contactUs')}}</span>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="list__item list__item--link">
                    <div class="item__container">
                        <div class="icon-label">
                            <mat-icon fontIcon="info" class="material-symbols-outlined"></mat-icon>
                            <span class="icon-label__label">{{t('about')}}</span>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="list__item list__item--link">
                    <div class="item__container">
                        <div class="icon-label">
                            <mat-icon fontIcon="lock" class="material-symbols-outlined"></mat-icon>
                            <span class="icon-label__label">{{t('privacyPolicy')}}</span>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="list__item list__item--link">
                    <div class="item__container">
                        <div class="icon-label">
                            <mat-icon fontIcon="description" class="material-symbols-outlined"></mat-icon>
                            <span class="icon-label__label">{{t('termsOfUse')}}</span>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </section>
    </article>
    <app-spacer></app-spacer>
    }
</section>