@import '../../../../../styles/helpers/colors';
@import '../../../../../styles/helpers/variables';

.profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: $default-border-radius;
    background-color: $light-color;
    box-shadow: $card-shadow;

    &__img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border: 5px solid $primary-color;
        border-radius: 50%;
        box-shadow: $card-shadow;
    }

    &__label {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 30px;
    }
}

.setting {
    border-radius: $default-border-radius;
    background-color: $light-color;
    box-shadow: $card-shadow;

    &__title {
        padding-left: 10px;
        padding-top: 15px;
    }
}

.list {
    padding: 0;

    &__item {
        &--link {
            &:hover {
                cursor: pointer;
            }

            &::after {
                font-family: 'Material Symbols Outlined';
                font-weight: normal;
                font-style: normal;
                font-size: 24px;
                display: inline-block;
                line-height: 1;
                text-transform: none;
                letter-spacing: normal;
                word-wrap: normal;
                white-space: nowrap;
                direction: ltr;
                vertical-align: middle;
                padding-top: 12px;
                content: '\e409';
            }
        }
    }
}

.item__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}