<!-- <ul>
<li class="item-shopping-list" *ngFor="let itemShoppingList of itemShoppingLists; trackBy: trackByItemShoppingList">
  <div class="item-shopping-list__check-box">
    <mat-checkbox
      color="primary"
      [checked]="itemShoppingList.isChecked"
      (change)="toggleItemShoppingList(itemShoppingList)">
    </mat-checkbox>
    <span class="item-shopping-list__name"
      [ngClass]="{ 'line': itemShoppingList.isChecked }"
      (click)="this.goToItemShoppingListUpdate(itemShoppingList.id)">
      {{itemShoppingList.name}}
    </span>
  </div>
  <div class="item-shopping-list__buttons">
    <button type="button" mat-icon-button (click)="deleteItemShoppingList(itemShoppingList)" color="warn">
      <mat-icon class="material-symbols-outlined">close</mat-icon>
    </button>
  </div>
</li>
</ul> -->
<mat-accordion multi="true">
  @for (itemShoppingListsByCategory of itemShoppingListsByCategories; track trackByItemShoppingListsByCategory($index, itemShoppingListsByCategory)) {
    <mat-expansion-panel [(expanded)]="itemShoppingListsByCategory.isExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title><h3>{{itemShoppingListsByCategory.category.name}} ({{itemShoppingListsByCategory.checkedItemsLength}}/{{itemShoppingListsByCategory.itemsLength}})</h3></mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        @for (itemShoppingList of itemShoppingListsByCategory.itemShoppingLists; track trackByItemShoppingList($index, itemShoppingList)) {
          <li class="item-shopping-list">
            <div class="item-shopping-list__check-box">
              <mat-checkbox
                color="primary"
                [checked]="itemShoppingList.isChecked"
                (change)="toggleItemShoppingList(itemShoppingList, itemShoppingListsByCategory)">
              </mat-checkbox>
              <span class="item-shopping-list__name"
                [ngClass]="{ 'line': itemShoppingList.isChecked }"
                (click)="this.goToItemShoppingListUpdate(itemShoppingList.id)">
                {{itemShoppingList.name}}
              </span>
            </div>
            <div class="item-shopping-list__buttons">
              <button type="button" mat-icon-button (click)="deleteItemShoppingList(itemShoppingList)" color="warn">
                <mat-icon class="material-symbols-outlined">close</mat-icon>
              </button>
            </div>
          </li>
        }
      </ul>
    </mat-expansion-panel>
  }
</mat-accordion>
