<div class="page">
    <app-close-top-bar (onCloseClicked)="closeClicked()"></app-close-top-bar>
    <div class="margin">
        <div class="form">
            <div class="form-headers">
                <h1 class="form-header">{{ isCreating() ? 'Ajoutez votre nouveau repas !' : 'Modifiez votre repas !' }}</h1>
            </div>
            <form (ngSubmit)="editMeal()" [formGroup]="editMealForm">
                <div class="form-inputs">
                    <!--Type.-->
                    <mat-form-field class="form-input">
                        <mat-label>Type de repas</mat-label>
                        <mat-select formControlName="mealKindId">
                            <mat-option *ngFor="let loadedMealKind of loadedMealKinds" [value]="loadedMealKind.id">
                            {{ loadedMealKind.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="editMealForm.controls['mealKindId'].hasError('required')">
                            Type de repas requis
                        </mat-error>
                    </mat-form-field>
                    <!--Nom.-->
                    <mat-form-field class="form-input">
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" formControlName="mealName">
                        <mat-error *ngIf="editMealForm.controls['mealName'].hasError('required')">
                            Nom requis
                        </mat-error>
                    </mat-form-field>
                    <!--Date.-->
                    <mat-form-field class="form-input">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="datepicker" formControlName="mealDate">
                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Annuler</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Appliquer</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                        <mat-error *ngIf="editMealForm.controls['mealDate'].hasError('required')">
                            Date requise
                        </mat-error>
                    </mat-form-field>
                    <!--Nombre de personnes.-->
                    <mat-form-field class="form-input">
                        <mat-label>Repas pour ?</mat-label>
                        <mat-select formControlName="mealNumberOfPersons">
                            <mat-option *ngFor="let numberOfPersons of numbersOfPersons" [value]="numberOfPersons">
                                {{ numberOfPersons }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="editMealForm.controls['mealNumberOfPersons'].hasError('required')">
                            Nombre de personnes requis
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-buttons">
                    <button appButtonWithSpinner [loading]="isSaving" class="button form-button" mat-raised-button color="primary" type="submit">
                        {{ isCreating() ? 'Ajouter mon repas' : 'Modifier mon repas' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
