<div class="page">
    <app-edit-top-bar
    [title]="(isCreating$ | async) ? 'Ajouter mon repas' : 'Modifier mon repas'"
    (onCloseClicked)="goToDisplayMeals()"
    (onSaveClicked)="editMeal()">
    </app-edit-top-bar>
    <div class="margin">
        <div class="form">
            <form *ngIf="editMealFormData$ | async as editMealFormData; else loadingForm" [formGroup]="editMealFormData.editMealForm" (ngSubmit)="editMeal()">
                <div class="form-inputs">
                    <!--Type.-->
                    <mat-form-field class="form-input">
                        <mat-label>Type de repas</mat-label>
                        <mat-select formControlName="mealKindId">
                            <mat-option *ngFor="let mealKind of editMealFormData.mealKinds" [value]="mealKind.id">
                            {{ mealKind.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="editMealFormData.editMealForm.controls['mealKindId'].hasError('required')">
                            Type de repas requis
                        </mat-error>
                    </mat-form-field>
                    <!--Nom.-->
                    <mat-form-field class="form-input">
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" formControlName="mealName">
                        <mat-error *ngIf="editMealFormData.editMealForm.controls['mealName'].hasError('maxlength')">
                            Nom trop long (max. {{ this.mealNameMaxLength }} caractères)
                        </mat-error>
                        <mat-error *ngIf="editMealFormData.editMealForm.controls['mealName'].hasError('required')">
                            Nom requis
                        </mat-error>
                    </mat-form-field>
                    <!--Date.-->
                    <!-- <mat-form-field class="form-input">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="datepicker" formControlName="mealDate">
                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Annuler</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Appliquer</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                        <mat-error *ngIf="editMealForm.controls['mealDate'].hasError('required')">
                            Date requise
                        </mat-error>
                    </mat-form-field> -->
                    <!--Nombre de personnes.-->
                    <mat-form-field class="form-input">
                        <mat-label>Repas pour ?</mat-label>
                        <mat-select formControlName="mealNumberOfPersons">
                            <mat-option *ngFor="let numberOfPersons of numbersOfPersons" [value]="numberOfPersons">
                                {{ numberOfPersons }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="editMealFormData.editMealForm.controls['mealNumberOfPersons'].hasError('required')">
                            Nombre de personnes requis
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
            <ng-template #loadingForm>
                <app-simple-loading></app-simple-loading>
            </ng-template>
        </div>
    </div>
</div>
