@import '../../../../styles/helpers/variables';

.shopping-lists {
    padding-top: 20px;
    padding-bottom: $padding-bottom-tab-bar;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: no-wrap;
        justify-content: center;
        align-items: center;
    }
}

