<div class="page">
    <app-profile-top-bar></app-profile-top-bar>
    <div class="display-shopping-lists">
        <app-simple-loading *ngIf="this.isLoadingShoppingLists"></app-simple-loading>
        <div *ngIf="!this.isLoadingShoppingLists" class="display-shopping-lists-container">
            <app-shopping-list-card *ngFor="let shoppingList of this.shoppingLists"
            [shoppingList]="shoppingList">
                <button mat-icon-button color="accent" (click)="setFavorite(shoppingList)">
                    <mat-icon class="material-symbols-outlined" [ngClass]="{ 'material-symbols-fill': shoppingList?.favorite }">star</mat-icon>
                </button>
                <button mat-icon-button (click)="goToUpdate(shoppingList.id)">
                    <mat-icon class="material-symbols-outlined">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="goToDisplay(shoppingList.id)">
                    <mat-icon class="material-symbols-outlined">visibility</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete(shoppingList)">
                    <mat-icon class="material-symbols-outlined">delete</mat-icon>
                </button>
            </app-shopping-list-card>
            <div class="display-shopping-lists-empty" *ngIf="!this.shoppingLists || this.shoppingLists.length == 0">
                <img class="display-shopping-lists-empty-illustration" src="/assets/img/undraw_gone_shopping_re_2lau.svg">
                <h1 class="display-shopping-lists-empty-title">Oups !</h1>
                <p class="display-shopping-lists-empty-message">Vous n'avez pas encore créé de liste.</p>
            </div>
        </div>
    </div>
    <app-tab-bar [selectedIndex]=1 (onActionClicked)="goToCreate()"></app-tab-bar>
</div>