@import '../../../../../styles/helpers/colors';
@import '../../../../../styles/helpers/variables';

:host {
    margin: 5px;
}

.meal-card {
    background-color: $primary-color-100;

    &__name {
        font-size: 18px;
        font-weight: 500;
    }

    &__persons {
        &::before {
            font-family: 'Material Symbols Outlined';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            vertical-align: middle;
            margin-right: 10px;
            content: '\f233';
        }
    }
}