<div class="page">
    <app-go-back-top-bar></app-go-back-top-bar>
    <div>
        <div class="padding shopping-list">
            <form class="form m-t-30" *ngIf="editShoppingListForm$ | async as editShoppingListForm; else loadingForm" [formGroup]="editShoppingListForm">
                <div class="form-inputs">
                    <mat-form-field class="form-input">
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" formControlName="shoppingListName">
                        <mat-error *ngIf="editShoppingListForm.controls['shoppingListName'].hasError('maxlength')">
                            Nom trop long (max. {{ this.shoppingListNameMaxLength }} caractères)
                        </mat-error>
                        <mat-error *ngIf="editShoppingListForm.controls['shoppingListName'].hasError('required')">
                            Nom requis
                        </mat-error>
                    </mat-form-field>
                    <ul *ngIf="this.notCheckedItemShoppingLists$ | async as notCheckedItemShoppingLists">
                        <li class="item-shopping-list" *ngFor="let notCheckedItemShoppingList of notCheckedItemShoppingLists">
                            <div class="item-shopping-list__check-box">
                                <mat-checkbox
                                color="primary"
                                [checked]="notCheckedItemShoppingList.isChecked"
                                (change)="toggleItemShoppingList(notCheckedItemShoppingList)">
                                </mat-checkbox>
                                <span class="item-shopping-list__name" 
                                [ngClass]="{ 'line': notCheckedItemShoppingList.isChecked }"
                                (click)="this.goToItemShoppingListUpdate(notCheckedItemShoppingList.id)">
                                    {{ notCheckedItemShoppingList.name }}
                                </span>
                            </div>
                            <div class="item-shopping-list__buttons">
                                <button type="button" mat-icon-button (click)="deleteItemShoppingList(notCheckedItemShoppingList)" color="warn">
                                    <mat-icon class="material-symbols-outlined">close</mat-icon>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
            <div *ngIf="this.checkedItemShoppingLists$ | async as checkedItemShoppingLists">
                <mat-expansion-panel *ngIf="checkedItemShoppingLists.length">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{checkedItemShoppingLists.length}} article(s) coché(s)
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li class="item-shopping-list" *ngFor="let checkedItemShoppingList of checkedItemShoppingLists">
                            <div class="item-shopping-list__check-box">
                                <mat-checkbox
                                color="primary"
                                [checked]="checkedItemShoppingList.isChecked"
                                (change)="toggleItemShoppingList(checkedItemShoppingList)">
                                </mat-checkbox>
                                <span 
                                class="item-shopping-list__name" 
                                [ngClass]="{ 'line': checkedItemShoppingList.isChecked }"
                                (click)="this.goToItemShoppingListUpdate(checkedItemShoppingList.id)">
                                    {{ checkedItemShoppingList.name }}
                                </span>
                            </div>
                            <div class="item-shopping-list__buttons">
                                <button type="button" mat-icon-button (click)="deleteItemShoppingList(checkedItemShoppingList)" color="warn">
                                    <mat-icon class="material-symbols-outlined">close</mat-icon>
                                </button>
                            </div>
                        </li>
                    </ul>
                </mat-expansion-panel>
            </div>
        </div>
        <app-add-item-shopping-list-form 
        class="add-form padding"
        [currentItemShoppingLists]="this.itemShoppingLists$ | async"
        (itemShoppingListAdded)="this.itemShoppingListAdded($event)">
        </app-add-item-shopping-list-form>
        <ng-template #loadingForm>
            <app-simple-loading></app-simple-loading>
        </ng-template>
    </div>
</div>