<div class="page">
    <app-go-back-top-bar></app-go-back-top-bar>
    <div>
        <div class="padding shopping-list">
            <form class="form m-t-30" *ngIf="editShoppingListForm$ | async as editShoppingListForm; else loadingForm" [formGroup]="editShoppingListForm">
                <div>
                    <mat-form-field class="form-input">
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" formControlName="shoppingListName">
                        <mat-error *ngIf="editShoppingListForm.controls['shoppingListName'].hasError('maxlength')">
                            Nom trop long (max. {{this.shoppingListNameMaxLength}} caractères)
                        </mat-error>
                        <mat-error *ngIf="editShoppingListForm.controls['shoppingListName'].hasError('required')">
                            Nom requis
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
            <app-checkable-item-shopping-lists *ngIf="this.notCheckedItemShoppingLists$ | async as notCheckedItemShoppingLists"
            [itemShoppingLists]="notCheckedItemShoppingLists"
            (itemShoppingListDeleted)="deleteItemShoppingList($event)"
            (itemShoppingListToggled)="toggleItemShoppingList($event)">
            </app-checkable-item-shopping-lists>
            <div *ngIf="this.checkedItemShoppingLists$ | async as checkedItemShoppingLists">
                <mat-expansion-panel *ngIf="checkedItemShoppingLists.length">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{checkedItemShoppingLists.length}} article(s) coché(s)
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-checkable-item-shopping-lists
                    [itemShoppingLists]="checkedItemShoppingLists"
                    (itemShoppingListDeleted)="deleteItemShoppingList($event)"
                    (itemShoppingListToggled)="toggleItemShoppingList($event)">
                    </app-checkable-item-shopping-lists>
                </mat-expansion-panel>
            </div>
        </div>
        <app-add-item-shopping-list-form 
        class="add-form padding"
        [currentShoppingListId]="this.currentShoppingListId"
        [currentItemShoppingLists]="this.itemShoppingLists$ | async"
        (itemShoppingListAdded)="this.addItemShoppingList($event)">
        </app-add-item-shopping-list-form>
        <ng-template #loadingForm>
            <app-simple-loading></app-simple-loading>
        </ng-template>
    </div>
</div>