<div class="page">
    <app-profile-top-bar></app-profile-top-bar>
    <div class="meals">
        <app-inline-calendar 
        [defaultSelectedDate$]="defaultDate$" 
        (onSelectedDateChanged)="onSelectedDateChanged($event)">
        </app-inline-calendar>
        <div *ngIf="this.mealsByMealKinds$ | async as mealsByMealKinds; else loading" class="meals__container">
            <ng-container *ngIf="!this.isLoading; else loading">
                <div class="meal-kind" *ngFor="let mealsByMealKind of mealsByMealKinds">
                    <div class="meal-kind__name">
                        {{ mealsByMealKind.mealKind.name }}
                    </div>
                    <app-large-meal-card *ngFor="let meal of this.mealsByMealKind.meals" [meal]="meal">
                        <app-meal-edit-button 
                        [mealId]="meal.id">
                        </app-meal-edit-button>
                        <app-meal-copy-button 
                        [mealToCopy]="meal"
                        (onMealCopied)="onMealCopied($event)">
                        </app-meal-copy-button>
                        <app-meal-delete-button 
                        [mealToDelete]="meal"
                        (onMealDeleted)="onMealDeleted($event)">
                        </app-meal-delete-button>
                    </app-large-meal-card>
                </div>
                <app-large-empty
                *ngIf="!mealsByMealKinds.length"
                class="empty"
                illustrationSource="/assets/img/undraw-eating-together-re-ux62.svg"
                title="Pas encore de repas ?"
                message="Ajoutez et plannifiez ici vos repas de la semaine.">
                </app-large-empty>
            </ng-container>
        </div>
        <ng-template #loading>
            <app-simple-loading></app-simple-loading>
        </ng-template>
    </div>
    <app-tab-bar [selectedIndex]=2 (onActionClicked)="goToCreate()"></app-tab-bar>
</div>