<app-profile-top-bar></app-profile-top-bar>
<div class="page">
  <div class="meals">
    <app-inline-calendar
      [defaultSelectedDate$]="defaultDate$"
      (onSelectedDateChanged)="onSelectedDateChanged($event)">
    </app-inline-calendar>
    <div class="meals__container"
    [ngClass]="{'meals__container--center': mealsByMealKinds() && !mealsByMealKinds()?.length}">
      @defer (when mealsByMealKinds()) {
        @for (mealsByMealKind of mealsByMealKinds(); track mealsByMealKind) {
          <app-meals-by-meal-kind [mealsByMealKind]="mealsByMealKind">      
          </app-meals-by-meal-kind>  
        }
        @if (!mealsByMealKinds()?.length) {
          <app-meal-large-empty>
          </app-meal-large-empty>
        }
      } @placeholder (minimum 1000ms) {
        <app-meals-by-meal-kind-placeholder>
        </app-meals-by-meal-kind-placeholder>
      }
    </div>
  </div>
</div>
<app-tab-bar [selectedIndex]=2 (onActionClicked)="goToCreate()"></app-tab-bar>